.nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-item {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 15px;
    background-color: rgb(241, 102, 51);
}

.link {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

.sub-nav-list {
    position: absolute;
    display: block;
    top: 40px;
    margin-left: -50px;
}

.sub-list-item {
    display: none;
    list-style-type: none;
    padding: 15px;
    width: 100%;
    background-color: rgb(241, 102, 51);
}

.list-item:hover .sub-list-item{
    display: block;
}

.sub-sub-nav-list {
    position: absolute;
    display: block;
    top: 110px;
    margin-left: 85px;
    width: 100%;
}

.sub-list-item:hover .sub-sub-list-item{
    display: block;
}

.sub-sub-list-item {
    display: none;
    list-style-type: none;
    padding: 15px;
    background-color: rgb(241, 102, 51);
}

.sub-sub-sub-nav-list {
    position: absolute;
    display: block;
    top: 105px;
    margin-left: 90px;
    width: 100%;
}

.sub-sub-sub-list-item {
    display: none;
    list-style-type: none;
    padding: 15px;
    background-color: rgb(241, 102, 51);
}

.sub-sub-list-item:hover .sub-sub-sub-list-item{
    display: block;
}